:root {
    font-family: monospace;
}

.test {
    background-color: red;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.options {
    background-color: rgb(44, 44, 44);
    display:flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}
