@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes blink {
    from, to { opacity: 1; }
    50% { opacity: 0; }
}

.blink {
    animation: blink 1s step-end infinite;
}

div:focus {
    outline: none; /* Removes the default focus outline */
}

button:focus {
    outline: 2px solid white;
    border-radius: 10px;
}
  
.dropdown-tail {
    width: 130px;
    height: 130px;
    background-color: white;
    transform: rotate(45deg);
}